# Ignore node_modules and uploads both at repo root and backend
node_modules/
uploads/
.env

# Backend-specific ignore
backend/node_modules/
backend/uploads/
backend/.env

# Frontend-specific ignore
frontend/node_modules/
frontend/.env
