.content{
padding:40px;
}

.header-row{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.form-box{
background:#f3f3f3;
padding:30px;
border-radius:10px;
width:800px;
}

.form-box label{
display:block;
margin-top:15px;
font-weight:500;
}

.form-box input{
width:100%;
padding:10px;
margin-top:5px;
border-radius:6px;
border:1px solid #ccc;
}

.save-btn{
margin-top:25px;
background:#f58220;
border:none;
padding:10px 30px;
border-radius:8px;
color:white;
font-weight:bold;
cursor:pointer;
}

.back-btn{
cursor:pointer;
}
.popup-overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.2);
display:flex;
justify-content:center;
align-items:center;
}

.popup-box{
background:white;
width:260px;
padding:40px 20px;
border-radius:20px;
text-align:center;
box-shadow:0 5px 20px rgba(0,0,0,0.15);
}

.popup-icon{
width:60px;
height:60px;
border-radius:50%;
border:2px solid #2ecc71;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
font-size:28px;
color:#2ecc71;
margin-bottom:10px;
}